## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,77.25,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,2,Varzea Da Palma,BR,70.63,scattered clouds,-17.5981,-44.7308,Casa Fernandes
2,8,Inhambane,MZ,75.29,light rain,-23.8650,35.3833,Oceano
3,10,Mataura,NZ,61.48,broken clouds,-46.1927,168.8643,Ellie's Villa
4,15,Loon,PH,81.88,overcast clouds,9.7998,123.7929,Ladressner's

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[(clean_hotel_df['City']=="Port Shepstone") & (clean_hotel_df['Country']=="ZA")]
vacation_end = clean_hotel_df.loc[(clean_hotel_df['City']=="Port Shepstone") & (clean_hotel_df['Country']=="ZA")]
vacation_stop1 = clean_hotel_df.loc[(clean_hotel_df['City']=="East London") & (clean_hotel_df['Country']=="ZA")]
vacation_stop2 = clean_hotel_df.loc[(clean_hotel_df['City']=="Kruisfontein") & (clean_hotel_df['Country']=="ZA")]
vacation_stop3 = clean_hotel_df.loc[(clean_hotel_df['City']=="Cape Town") & (clean_hotel_df['Country']=="ZA")]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
189,379,Port Shepstone,ZA,72.19,clear sky,-30.7414,30.455,My Den Beachfront Bed and Breakfast | Self-Cat...

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# Converting lat-lng arrays to tuples

start = vacation_start[["Lat", "Lng"]].to_numpy()
start_tup = tuple(start.reshape(1, -1)[0])
start = start_tup

end = vacation_end[["Lat", "Lng"]].to_numpy()
end_tup = tuple(end.reshape(1, -1)[0])
end = end_tup

stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1_tup = tuple(stop1.reshape(1, -1)[0])
stop1 = stop1_tup

stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2_tup = tuple(stop2.reshape(1, -1)[0])
stop2 = stop2_tup

stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3_tup = tuple(stop3.reshape(1, -1)[0])
stop3 = stop3_tup

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
lima2endtrip_df = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3])
travel_mode="DRIVING"
fig.add_layer(lima2endtrip_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,379,Port Shepstone,ZA,72.19,clear sky,-30.7414,30.4550,My Den Beachfront Bed and Breakfast | Self-Cat...
1,16,East London,ZA,72.25,scattered clouds,-33.0153,27.9116,Tu Casa
2,107,Kruisfontein,ZA,70.48,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
3,174,Cape Town,ZA,73.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))